@import './components/reset';
@import './components/header';
@import './components/home';
@import './components/form';
@import './components/footer';
@import './components/list';
@import './components//card';
@import './components/detail';
@import './components/order';
@import './components/margin';

.header {
  padding-top: 40px;
}

.logo {
  width: 160px;
  height: 40px;
  background: #0c65e4;
  border-radius: 4px;
}