.header {
  .logo {
    display: inline-block;
    margin-right: 40px;
  }
  .navigation {
    display: inline-block;
    position: relative;
    bottom: 15px;

    ul {
      margin-top: 20px;
      li {
        display: inline;
        margin-right: 40px;

        a {
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
  }

  .link-login {
    text-align: right;
    margin-top: 15px;

    a {
      padding: 15px 57px;
      background: #ffba40;
      border: none;
      color: #fff;
      border-radius: 90px;
    }
  }
}